.container {
  background-color: beige;
  border-radius: 10px;
  width: 60%;
  margin: 2rem auto;
}

.container input {
  display: block;
  margin: 15px;
  outline: GRAY;
  width: 80%;
  border-radius: 10px;
  outline: none;
}

.container button {
  padding: 6px;
  margin-left: auto;
  display: block;
}
.container label {
  display: block;
  margin-left: 14px;
  margin-top: 14px;
}
